@font-face {
    font-family: Inter-Regular;
    src: url(../font/Inter-Regular.ttf);
}

@font-face {
    font-family: Inter-Medium;
    src: url(../font/Inter-Medium.ttf);
}

@font-face {
    font-family: Inter-Semibold;
    src: url(../font/Inter-SemiBold.ttf);
}

body {
    background-image: url("../image/bg_web.png");
}

.profile-container{
    width: 100vw;
    height: 25vh;
    padding: 20px;
    /* background: cyan; */
    display: flex;
    justify-content: center;
}

.data-container{
    width: 100vw;
    height: 80vh;
    padding: 10px;
    /* background: brown; */
}

.bio-container{
    padding: 20px 30px 10px 30px;
}

.tab{
    width: 100%;
    align-items: center;
}

.tab-content{
    height: 60vh;
    width: 100%;
    background:#FEFEFE;
    border-width: 1px;
    border: rgba(0, 0, 0, 0.15);
    border-style: solid;
    border-radius: 0px 0px 20px 20px;
    display: flex;
    align-items: start;
    padding: 50px 30px 0px 30px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    /* background: yellow;
    margin: 30px 0px 10px 0px; */
}

.column{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    margin: 50px 20px;
}

.column-one {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 0.2;
    margin: 50px 20px;
    justify-content: center;
    /* background: green; */
}

.text {
    font-family: Inter-Semibold;
    font-size: 30px;
    color: #36454F;
}

@media screen and (max-width: 1080px) {
    /* .row {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
    } */

    .row{
        flex-direction: column;
    }

    .column-one {
        flex: 1;
    }

}


