@font-face {
    font-family: Inter-Regular;
    src: url(../font/Inter-Regular.ttf);
}

@font-face {
    font-family: Inter-Medium;
    src: url(../font/Inter-Medium.ttf);
}

@font-face {
    font-family: Inter-Semibold;
    src: url(../font/Inter-SemiBold.ttf);
}

body {
    background-image: url("../image/bg_web.png");
}

.nav-container {
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: start;
}

.nav-bar {
    background: #F04636;
    width: 95%;
    height: 80px;
    margin: 0px 20px;
    margin-top: 20px;
    border-radius: 20px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    align-items: center;
    justify-content: center;
    margin: 50px 20px;
    width: 100%;
    height: 100%;
}

.search-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80px;
    margin: 25px 25px;
}

#search-bar {
    width: 1000px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 800px;
    margin-top:  50px;;
}

.table-box{
    background: #FEFEFE;
    height: 100%;
    width: 1200px;
    border-radius: 20px;  
    border-radius: 20px;
    border-style: groove;
    border-width: 1px;
    border-color: #B1B1AF;
    padding: 30px;
}

.table-container-primary{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 400px;
    margin-top:  50px;;
}

.table-box-primary{
    background: #FEFEFE;
    height: 100%;
    width: 1200px;
    border-radius: 20px;  
    border-radius: 20px;
    border-style: groove;
    border-width: 1px;
    border-color: #B1B1AF;
    padding: 30px;
}

.column-data{
    display: inline-block;
    margin-right: 30px;
}

.row-data {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 25%;
    align-items: center;
    justify-content: space-evenly;
}

.button-container {
    display: flex;
    gap: 10px; /* Menambahkan spasi antara tombol */
}

.pagination-container{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: start;
}

#text {
    font-family: Inter-Semibold;
    font-size: 30px;
    color: #36454F;
}

#text-data-tittle {
    font-family: Inter-Semibold;
    font-size: 26px;
    color: #6C757D;
}

p {
    font-family: Inter-Semibold;
    font-size: 26px;
    color: #28282B;
}